---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
const posts = (await getCollection("blog"))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<main>
			<Nav />

			<header class="landing-hook" style="height:50vh; min-height: auto; background-color: black;">
				<h1>Have you ever wondered?</h1>
			</header>
			<div class="container">
				<div class="landing-hook">
					<ul>
						<li>How the web became what it is?</li>
						<li>How should we measure moderation?</li>
						<li>What, exactly, is an 'information ecosystem'?</li>
						<li>How do we handle the language resource gap?</li>
						<li>What date is the Spam apocalypse?</li>
						<li>What makes a healthy community?</li>
						<li>
							<i>Could I survive without coffee? <i class="fa fa-coffee"></i></i>
						</li>
					</ul>
				</div>
			</div>
			<div class="container">
				<h1 style="color: var(--color-secondary)">
					Hi, I'm Nik. 
				</h1>
				<h3 style="color: var(--color-secondary)">I think about these things all the time.</h3>
				<p>
					I am focused on our health, safety and ability to thrive
					online communities. I've been on the front lines as a
					moderator, I use data to drive my decisions (My Disseration
					tried to measure moderation). Now, I'm applying my skills in
					Trust and Safety at Genpact.
				<p>
			</div>
			<div class="container">
			<h1 style="color: var(--color-secondary)">
				I help communities moderate, stay healthy and flourish. 
			</h1>
			<i style="font-size: 0.3rem;"> YMMV, this is an inexact science.</i> 
				
		
			<p>If these topics interest you, lets chat! 
			
				You can reach me at <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#110;&#105;&#107;&#104;&#105;&#108;&#46;&#98;&#104;&#115;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;">&#110;&#105;&#107;&#104;&#105;&#108;&#46;&#98;&#104;&#115;&#110;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>
				or on <a href="https://in.linkedin.com/in/nikhil-bhasin">LinkedIn</a>
			</p>
			
		</div>
			<div class="container">
				<h1 style="text-align:center;">Recent Blog Posts</h1>

				<div class="grid">
					{
						posts.map((post) => (
							<div class="card">
								<img src={post.data.heroImage} alt="" width="auto" />
								<h3 class="landing-hook">
									<a href={`/blog/${post.slug}/`}>
										{post.data.title}
									</a>
								</h3>
								<description>
									{post.data.description}{" "}
								</description>
								<FormattedDate date={post.data.pubDate} />
							
								</div>
						))
					}
				</div>
			</div>
		
			 
	
		</main>

		<Footer />
	</body>
</html>
