---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
const posts = (await getCollection("blog"))
	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
	.slice(0, 3);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<main>
			<Nav />

			<header class="landing-hook">
				<h1>Have you ever wondered?</h1>
			</header>
			<div class="container">
				<div class="landing-hook">
					<ul>
						<li>How the web became what it is?</li>
						<li>How should we measure moderation?</li>
						<li>What, exactly, is an 'information ecosystem'?</li>
						<li>What about languages without massive data sets?</li>
						<li>What date is the Spam apocalypse?</li>
						<li>What makes a healthy community?</li>
						<li
							style="color: rgb(255, 204, 197)"
							class="fa fa-coffee"
						>
							Could I survive without coffee?
						</li>
					</ul>
				</div>
			</div>
			<div class="container">
				<h1 style="color: var(--color-secondary)">
					Hi, I'm Nik. I think about these things all the time.
				</h1>

				<h4>
					I am focused on our health, safety and ability to thrive
					online communities. I've been on the front lines as a
					moderator, I use data to drive my decisions (My Disseration
					tried to measure moderation). Now, I'm applying my skills in
					Trust and Safety at Genpact.
				</h4>
			</div>

			<h1 style="color: var(--color-secondary); text-align: center;">
				I want to help communities flourish and stay healthy online.
			</h1>

			<p>If these topics interest you, lets chat!</p>

			<p>You can reach me <a href="https://in.linkedin.com/in/nikhil-bhasin">here:</a></p>

			<p>- Nik</p>

			<div>
				<h1 style="text-align:center;">Recent Blog Posts</h1>

				<div class="grid">
					{
						posts.map((post) => (
							<div class="card">
								<h3 class="landing-hook">
									<a href={`/blog/${post.slug}/`}>
										{post.data.title}
									</a>
								</h3>
								<description>
									{post.data.description}{" "}
								</description>
								<FormattedDate date={post.data.pubDate} />
							</div>
						))
					}
				</div>
			</div>
		</main>

		<Footer />
	</body>
</html>
