---
import BaseHead from "../components/BaseHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
const posts = (await getCollection("blog"))
	.sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
	.slice(0, 3);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body>
		<main>
			<Nav />

			<header class="landing-hook">
				<h1>Have you ever wondered?</h1>
			</header>
			<div class="container">
				<div class="landing-hook">
					<ul>
						<li>How the web became what it is?</li>
						<li>How should we measure moderation?</li>
						<li>What, exactly, is an 'information ecosystem'?</li>
						<li>What about languages without massive data sets?</li>
						<li>What date is the Spam apocalypse?</li>
						<li>What makes a healthy community?</li>
						<li style="color: lightblue">How terrible would life be, without coffee?</li>
					</ul>
				</div>
			</div>
			<div class="container">
				<h1>Hi, I'm Nikhil</h1>

				<h3>
					I have been online since the 90s. I've been a forum admin,
					national video game finalist, Reddit mod.
					One of those teams has been featured in Time magazine.
				</h3>

				<p>I have also:</p>
				<ul>
					<li>
						Been a 2008 vintage financial startup enthusiast (2nd
						round of hires).
					</li>
					<li>
						Picked up a data science degree and an MBA (COVID
						vintage!).
					</li>
				</ul>

				<p>
					I've worked in small lean teams, complex large firms, driven
					volunteer groups, across cultures, values and geographies.
				</p>

				<p>
					To make sense of all of this, there is one thing to know
					about me:
				</p>

				<h1 style="color: var(--color-secondary); text-align: center;">
					I am always trying to figure out how to build healthy
					communities online
				</h1>

				<p></p>
				<h4>It's what I think about, all the time.</h4>

				<p>
					We live in an era of unprecedented data and computationally
					power. We have the data and ability to understand how the
					ideas that move us, move through us.
				</p>
				<p>
					Yet, there are far too many times that mod teams work in the
					dark, never knowing how their actions impacted their
					communities.
				</p>

				<p>
					This question plagued me enough, that I retiurned to code,
					got my data science creds, and then used my MBA dissertation
					to take a data-driven look at how subreddit behavior was
					impacted by rule changes.
				</p>

				<p>
					It's why I work at Genpact in their Trust and Safety
					sdivision.
				</p>

				<p>
					The core topic I am working towards is bridging the language
					resource gap.
				</p>

				<p>
					The reason I work with Gen AI is to understand and apply it
					effectively. This site wouldn't exist if it weren't for the
					accelerated learning that it enabled. Side note - don't try
					and write code from scratch.
				</p>

				<p>I want to make things better.</p>
				<p>I want to do it correctly.</p>
				<p>I want to do it effectively.</p>

				<p>
					My background allows me to talk to almost everyone (family
					disagrees, but let's just ignore them).
				</p>

				<p>
					If this is what you think about, I'd love to talk to you and
					hear your thoughts.
				</p>

				<p>You can reach me here:</p>

				<p>- Nik</p>

				<div>
					<h1>Recent Blog Posts</h1>

					<div class="grid">
						{
							posts.map((post) => (
								<div class="card">
									<h3 class="landing-hook">
										<a href={`/blog/${post.slug}/`}>
											{post.data.title}
										</a>
									</h3>
									<description>
										{post.data.description}{" "}
									</description>
									<FormattedDate date={post.data.pubDate} />
								</div>
							))
						}
					</div>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
